* {
  margin: 0;
  padding: 0;
}

body {
  font-family: cursive;
}
/* cartas */

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#principal {
  height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around; */
  display: grid;
  gap: 0.5em;
  align-content: center;
}

.flip-card {
  background-color: transparent;
  width: 120px;
  height: 120px;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 20px;
  background-image: url(images/random.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* border: 1px solid black; */
}

.card-img {
  width: 100%;
  height: 100%;
}

.end {
  /* border: 1px solid black; */
  pointer-events: none;
}

.active .flip-card-inner {
  transform: rotateY(180deg);
}

.end .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

/* menu */

.menu {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 519px;
  height: 523px;
  background: radial-gradient(
    circle,
    rgb(68 24 4 / 22%) 30%,
    rgb(253 246 198) 53%,
    rgb(188 139 65 / 80%) 71%
  );
  z-index: -1;
  /* display: flex; */
  /* align-items: end; */
  /* justify-content: center; */
  border-radius: 50%;
  position: relative;
  /* left: 0; */
  /* top: -10%; */
  -webkit-box-shadow: inset -1px 2px 20px 4px rgba(68, 24, 4, 1);
  -moz-box-shadow: inset -1px 2px 20px 4px rgba(68, 24, 4, 1);
  box-shadow: inset -1px 2px 20px 4px rgba(68, 24, 4, 1);
}

.medal {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 21%;
  left: 11.5%;
}

.meme {
  border-radius: 50%;
  width: 190px;
  height: 104px;
  background: linear-gradient(
    71deg,
    rgba(150, 95, 27, 1) 0%,
    rgba(199, 146, 82, 1) 7%,
    rgba(168, 114, 45, 1) 79%,
    rgba(180, 124, 51, 1) 93%
  );
  position: absolute;
  top: -23%;
  /* rotate: -0.1deg; */
  left: 25.5%;
  z-index: 0;
  --size: 400px;
  --offset: 101%;
  --x: 52%;
  --y: 252%;
  mask-image: radial-gradient(
    circle calc(var(--size) * 0.45) at var(--x) var(--y),
    transparent var(--offset),
    black calc(var(--offset) + 1%)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

svg {
  width: 350px;
  overflow: visible;
  rotate: 105deg;
  /* scale: 3; */
  position: absolute;
  left: -39%;
  top: 54%;
  /* font-size: 16em; */
  transform: skew(36deg, 324deg);
}

path {
  opacity: var(--show, 0);
  transition: opacity 0.2s;
}

.dg :is(.cr.string, .cr.number) input[type="text"] {
  color: white;
  line-height: 1;
}

.cheems {
  border-radius: 50%;
  position: absolute;
  left: 10%;
  top: -1%;
  width: 70%;
  height: 70%;
  background-color: white;
  background-image: url(images/cheems.png);
  background-position-x: 34px;
  background-position-y: -50%;
  background-size: 102%;
  background-repeat: no-repeat;
  border: 20px solid #e1c46c;
  z-index: 1;
  overflow: hidden;
}

.circle {
  position: absolute;
  width: 297px;
  height: 297px;
  border: 3.5px solid #967f3e;
  left: 12%;
  top: 1%;
  border-radius: 50%;
  z-index: 2;
}

.patita {
  position: absolute;
  width: 19%;
  height: 42%;
  left: 17%;
  top: 59%;
  rotate: 5deg;
  transform-origin: 100% 100%;
  animation-name: patita;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes patita {
  0% {
    rotate: 5deg;
  }
  30% {
    rotate: -16deg;
  }
  35% {
   rotate: -10deg;
  }
  40% {
   rotate: 0deg;
  }
  45% {
   rotate: -10deg;
  }
  50% {
   rotate: 0deg;
  }
  55% {
   rotate: -10deg;
  }
  60% {
   rotate: -5deg;
  }
  65%{
   rotate: 0deg;
  }
  100% {
    rotate: 5deg;
  }
}

.rama {
  border: 7px solid #b7863c;
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  left: -2%;
  top: -12%;
  border-top-color: transparent;
}

.hoja {
  width: 14%;
  height: 10%;
  position: absolute;
  background: linear-gradient(
    146deg,
    rgba(112, 56, 17, 1) 10%,
    rgba(252, 250, 205, 1) 50%,
    rgba(235, 230, 197, 1) 55%,
    rgba(208, 170, 101, 1) 89%
  );
  border-radius: 100% 0 80% 0;
  box-shadow: 0px 0px 3px 1px;
  z-index: -2;
}

.h-1 {
  transform: rotate(278deg);
  bottom: 9.5%;
  left: 14%;
}

.h-2 {
  transform: rotate(155deg);
  bottom: 9%;
  left: 72%;
}

.h-3 {
  transform: rotate(-20deg);
  bottom: 3%;
  left: 59%;
}

.h-4 {
  transform: rotate(30deg);
  bottom: 1%;
  left: 76%;
}

.h-5 {
  transform: rotate(18deg);
  bottom: 9.5%;
  left: 86%;
}

.h-6 {
  transform: rotate(-45deg);
  bottom: 21%;
  left: 82%;
}

.h-7 {
  transform: rotate(-98deg);
  bottom: 2%;
  left: 26%;
}

.h-8 {
  transform: rotate(-152deg);
  bottom: -7%;
  left: 25%;
}

.h-9 {
  transform: rotate(-100deg);
  bottom: 0%;
  left: 37%;

  scale: 0.8;
}

.h-10 {
  transform: rotate(-20deg);
  bottom: 0%;
  left: 48%;
  scale: 0.8;
}

.h-11 {
  transform: rotate(-106deg);
  bottom: 86%;
  left: 73%;
  z-index: 0;
}

.h-12 {
  transform: rotate(-147deg);
  bottom: -1%;
  left: 10%;
}

.h-13 {
  transform: rotate(-138deg);
  bottom: 7%;
  left: 1%;
  scale: 0.9;
}

.h-14 {
  transform: rotate(-124deg);
  bottom: 17%;
  left: -6%;
}

.h-15 {
  transform: rotate(-110deg);
  bottom: 29%;
  left: -11%;
}

.h-16 {
  transform: rotate(-105deg);
  bottom: 41.5%;
  left: -14%;
}

.h-17 {
  transform: rotate(-100deg);
  bottom: 53%;
  left: -14%;
}

.h-18 {
  transform: rotate(-90deg);
  bottom: 64.5%;
  left: -11%;
}

.h-19 {
  transform: rotate(-80deg);
  bottom: 75%;
  left: -6%;
}

.h-20 {
  transform: rotate(-70deg);
  bottom: 84%;
  left: 1%;
}

.h-21 {
  transform: rotate(-63deg);
  bottom: 20%;
  left: 4%;
}

.h-22 {
  transform: rotate(-41deg);
  bottom: 32%;
  left: -2%;
  scale: 0.92;
}

.h-23 {
  transform: rotate(-38deg);
  bottom: 46%;
  left: -4%;
}

.h-24 {
  transform: rotate(-14deg);
  bottom: 61%;
  left: -1%;
}

.h-25 {
  transform: rotate(0deg);
  bottom: 75%;
  left: 7%;
}

.h-26 {
  transform: rotate(-10deg);
  bottom: 86%;
  left: 12%;
  z-index: 0;
}

.h-27 {
  transform: rotate(-2deg);
  bottom: -11%;
  left: 36%;
}

.h-28 {
  transform: rotate(243deg);
  bottom: -11%;
  left: 51%;
}

.h-29 {
  transform: rotate(35deg);
  bottom: -5%;
  left: 62%;
}

.h-30 {
  /* transform: rotate(-10deg);
  bottom: 86%;
  left: 12%; */
}

.h-31 {
  transform: rotate(-4deg);
  bottom: 20.5%;
  left: 92%;
}

.h-32 {
  transform: rotate(-4deg);
  bottom: 20.5%;
  left: 92%;
}

.h-33 {
  transform: rotate(-8deg);
  bottom: 32.5%;
  left: 97%;
}

.h-34 {
  transform: rotate(-13deg);
  bottom: 44.7%;
  left: 100%;
}

.h-35 {
  transform: rotate(-20deg);
  bottom: 55.5%;
  left: 99%;
}

.h-36 {
  transform: rotate(-26deg);
  bottom: 66%;
  left: 97%;
}

.h-37 {
  transform: rotate(-30deg);
  bottom: 75%;
  left: 92%;
}

.h-38 {
  transform: rotate(-36deg);
  bottom: 83.5%;
  left: 87%;
}

.h-39 {
  transform: rotate(-66deg);
  bottom: 36%;
  left: 88%;
}

.h-40 {
  transform: rotate(-91deg);
  bottom: 51%;
  left: 89%;
}

.h-41 {
  transform: rotate(-107deg);
  bottom: 65.5%;
  left: 85%;
}

.h-42 {
  transform: rotate(-127deg);
  bottom: 76%;
  left: 77%;
  scale: 0.9;
}

.botones {
  width: 100%;
  height: 100px;
  background-color: #2980b9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.botones button {
  width: 100px;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid lightsteelblue;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  background-color: aliceblue;
}

.botones button:hover {
  border-color: rgb(166 178 195);
  background-color: rgb(219 226 232);
  color: #404040;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.modal-head {
  border-bottom: 2px solid #8080802e;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal-title {
  position: absolute;
  font-weight: bold;
}

.close {
  margin-left: auto;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.instruction {
  height: 50vh;
}

.instruction ul {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.instruction ul li {
  list-style-type: none;
  font-size: 1.2em;
  margin-bottom: 35px;
}

.instruction_dificult {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
}

.modal_meme {
  width: 120px;
  height: 120px;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
  border: 0px transparent;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
}

.modal_meme:hover {
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  filter: drop-shadow(0.8px 0.8px 0.8px black);
}

@keyframes pulse {
  25% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(0.9);
  }
}

.dificult {
  display: grid;
  text-align: center;
  font-size: 1.5em;
}

.easy {
  background-image: url(images/cheem\ ranita.png);
}
.span_easy {
  color: #bf8970;
}
.medium {
  background-image: url(images/perrito\ inteligente.png);
}
.span_medium {
  color: silver;
}

.hard {
  background-image: url(images/doge\ chad.png);
}
.span_hard {
  color: goldenrod;
}

/* 
.ala {
   position: absolute;
   width: 30px;
   height: 100px;
   top: 0;
   background-color: gold;
   border-radius: 50%;
   padding: 0px 10px;
   transform: skew(51deg, 150deg);
   z-index: -1;
 }
 
 .ala::before {
   content: "";
   position: absolute;
   width: 30px;
   height: 100px;
   left: -50px;
   top: 63px;
   background-color: gold;
   rotate: 68deg;
   border-radius: 50%;
   padding: 0px 7px;
   transform: skew(51deg, 150deg);
   z-index: -1;
 }
 
 .ala::after {
   content: "";
   position: absolute;
   width: 30px;
   height: 100px;
   left: -90px;
   top: 94px;
   background-color: gold;
   rotate: 68deg;
   border-radius: 50%;
   padding: 0px 7px;
   transform: skew(51deg, 150deg);
   z-index: -1;
 }
 
 .reverse {
   transform: rotateX(0deg) rotateY(-180deg) skew(51deg, 150deg);
   right: 0px;
 }
 
 .completo {
   width: 55%;
   height: 55%;
   position: absolute;
   top: 68px;
   background: gold;
   z-index: -1;
   padding: 0px 0%;
   border-radius: 55%;
   border-start-start-radius: 15%;
   border-top-right-radius: 70%;
   border-bottom-left-radius: 80%;
   transform: skew(8deg, -8deg);
 }
 .reverse2 {
    transform: rotateX(0deg) rotateY(-180deg) skew(8deg, -8deg);
    right: 0%;
  }
  */
